/* Root Variables Declaration */
:root {
  --base: #222831;
  --crust: #393e46;
  --text: #eeeeee;
  --sub-text: #00adb5;
  --button-bg: #2f7f85;
  --heading: "Inria Serif", serif;
  --sub-heading: "Inter", sans-serif;
  --paragraph: "Bricolage Grotesque", sans-serif;
  --navbar-height: 5rem;
  --scroll-pt: calc(var(--navbar-height) + 0.5rem);
  --hover-bg-color: color-mix(in srgb, var(--button-bg), var(--crust) 20%);
  --hover-color: color-mix(in srgb, var(--text), var(--crust) 20%);
  --hr-color: color-mix(in srgb, var(--sub-text), transparent 50%);
  --section-height: calc(100dvh - var(--navbar-height));
}

/* Add -webkit prefix */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-pt);
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: var(--paragraph);
  font-size: 1.2rem;
}

#toggle-menu {
  display: none;
}

.logo {
  /* position: fixed;
  top: 1%;
  left: 1%;
  z-index: 100; */
  /* padding: 1rem; */
  order: -1;
}

.logo > img {
  height: var(--navbar-height);
}

.hamburger {
  display: none;
  /* position: fixed;
  top: 1%;
  right: 1%; */
  z-index: 100;
  /* margin: 2rem 0; */
  /* height: 100%; */
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--sub-text);
  /* background-color: var(--base); */
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--base);
  opacity: 0.75;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  cursor: default;
}

.center-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0 2rem;
  height: var(--navbar-height);
  /* background-color: var(--crust); */
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid color-mix(in srgb, var(--hr-color), transparent 70%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  /* max-width: 1100px; */
}

.nav-links {
  /* position: fixed;
  top: 0;
  right: 0; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
  width: 100%;
}

li {
  list-style: none;
}

b {
  color: var(--sub-text);
}

.nav-links a {
  text-decoration: none;
  color: var(--sub-text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  display: block;
  margin: 2rem 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin: var(--navbar-height) 0;
  padding: 0 2rem;
  width: 100%;
  height: var(--section-height);
  text-align: center;
}

.ozen {
  font-family: var(--heading);
  color: var(--sub-text);
  /* font-weight: 900; */
}

h1,
.ozen {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
  /* font-weight: 900; */
  color: var(--sub-text);
}

h3 {
  font-size: 1.6rem;
  /* font-weight: 800; */
  color: var(--sub-text);
  margin: 0;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.4rem;
  /* font-weight: 700; */
  color: var(--sub-text);
  margin: 1rem 0;
}

.home-container h2 {
  font-family: var(--sub-heading);
  font-size: 3rem;
  font-weight: 600;
}

.hero-btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 60dvw;
  margin: 2rem;
}

.glowing-btn {
  background-color: var(--button-bg);
  box-shadow: 1px 2px 15px var(--hover-bg-color);
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

.hero-btns > a {
  flex: 1;
  max-width: 250px;
  background-color: var(--button-bg);
  text-decoration: none;
  font-family: var(--sub-heading);
  font-size: 1.35rem;
  color: var(--text);
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.hero-btns > a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap;
  align-content: center; */
  width: 100%;
  height: 100%;
  text-align: justify;
  padding: 0 3rem;
  margin: 5rem 0;
}

.about-layout {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
}

.about-img {
  height: 8rem;
}

.skills-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.skill-card {
  background-color: color-mix(in srgb, var(--crust), transparent 70%);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--sub-text);
  transition: transform 0.6s ease;
}

.skill-card:hover {
  transform: translateY(-0.8rem);
}

.skills {
  /* background-color: #00adb5; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* align-content: center; */
  gap: 0.75rem;
}

.skills li {
  /* background-color: var(--sub-text); */
  /* font-family: var(--sub-heading); */
  padding: 0.4rem 0.8rem;
  border-radius: 1.5rem;
  /* text-align: center; */
  border: 1px solid var(--button-bg);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.skills li:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
  cursor: default;
}

.project-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
}

.project-card {
  background-color: color-mix(in srgb, var(--crust), transparent 50%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 1.5rem;
  /* padding-bottom: 0; */
  border-radius: 1rem;
  border: 1px solid var(--hr-color);
  transition: transform 0.6s ease;
}

.project-card:hover {
  transform: translateY(-0.8rem);
}
/* 
.project-layout .skills li {
  background-color: var(--button-bg);
} */

.features {
  padding-left: 2rem;
  margin-top: 0.5rem;
}

.features li {
  list-style-type: circle;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  color: color-mix(in srgb, var(--text), transparent 20%);
}

.project-meta {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: first baseline;
  flex-wrap: wrap;
  gap: 0.3rem;
  padding-top: 2rem;
  margin-top: auto;
}

.project-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* width: 60dvw; */
  /* margin: 2rem; */
}

.project-links > a {
  /* max-width: 250px; */
  background-color: var(--button-bg);
  text-decoration: none;
  font-family: var(--sub-heading);
  /* font-size: 1.35rem; */
  color: var(--text);
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.project-links > a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

#Contact h2 {
  text-align: center;
}

.contact-layout {
  display: grid;
  grid-template: repeat(2, 1fr) / minmax(auto, 600px);
  gap: 3rem;
}

.connect-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

.icon-links {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--sub-text);
  border: 1px solid var(--hover-bg-color);
  border-radius: 50%;
  padding: 1rem;
  height: 4.5rem;
  width: max-content;
  box-shadow: 0 1px 10px var(--hover-bg-color);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.4s ease;
}

.connect-links svg {
  width: 100%;
  height: 100%;
}

.icon-links:hover {
  transform: scale(1.2);
  box-shadow: 1px 3px 15px var(--hover-bg-color);
}

footer {
  margin-top: 4rem;
  padding: 1.5rem;
  background-color: var(--crust);
}

footer hr {
  border: none;
  border-top: 1px solid var(--hr-color);
  margin-bottom: 1rem;
  /* width: 100dvw; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 1rem;
  width: 100%;
}

.footer-content p {
  font-size: 0.9rem;
  color: var(--sub-text);
}

/* For sizes tablet and above */
@media (min-width: 769px) {
  .container .center-content {
    order: -1;
  }
}

/* Tablet Size and Below */
@media (max-width: 768px) {
  html {
    font-size: 90%;
  }

  .about-layout {
    grid-template: 1fr / 1fr 2fr;
  }

  .skills-layout {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .project-layout {
    grid-template-columns: 75%;
  }

  .footer-content {
    justify-content: space-evenly;
  }
}

/* Phone Size and Below */
@media (max-width: 576px) {
  html {
    font-size: 85%;
  }

  .hamburger {
    display: inline;
  }

  .navbar {
    padding-right: 3rem;
  }

  .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 85;
    /* margin-top: auto; */
    padding-top: var(--scroll-pt);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: var(--crust); */
    /* background-color: color-mix(in srgb, var(--crust), transparent 30%); */
    background-color: transparent;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-left: 1px solid var(--hr-color);
    height: 100dvh;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  #toggle-menu:checked ~ .nav-links {
    transform: translateX(0);
  }

  #toggle-menu:checked ~ .backdrop {
    display: block;
  }

  .hero-btns {
    flex-direction: column;
  }

  .about-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .skills-layout {
    grid-template-columns: 1fr;
  }

  .project-layout {
    grid-template-columns: 100%;
  }

  .footer-content {
    flex-direction: column;
  }
}
