/* Root Variables Declaration */
:root {
  --base: #222831;
  --crust: #393e46;
  --text: #eeeeee;
  --sub-text: #00adb5;
  --heading: "Inria Serif", serif;
  --sub-heading: "Inter", sans-serif;
  --paragraph: "Bricolage Grotesque", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph);
}

body {
  background-color: var(--base);
  color: var(--text);
}

.nav-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--crust);
}

.nav-links {
  display: flex;
  gap: 30px;
  font-size: 1rem;
  padding: 1rem;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  width: 10vw;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
}
